/*------------------------------------------------------------------------------
    project:    berenicek.com (version 2015)
    created:    2015
    author:     Florian Boudot
----------------------------------------------------------------------------- */

/* FONT - KIRIMOMI SWASH */
/* http://neojaponisme.com/2011/06/27/catalog-heritage-the-kihachiro-typeface-family/ */
@include fontface(kirimomiswash);


/* STRUCTURE */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size:62.5%; /* :INFO:1em = 10px */
    height:100%;
    line-height: 20px;
    color:#575a5d;
    background:#fff;
}
#content {
    font-size: 14px;
}
#page {
    padding-top: 270px; /* header height */
}
.page-width {
    box-sizing: border-box;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}
.page-gutters{
    padding-left: 20px; /* 20px / 940px */
    padding-right: 20px;/* 20px / 940px */
}


/* LINKS */
a {
    color:#575a5d;
    text-decoration: none;
    cursor:pointer;
}
a:hover {
    text-decoration: underline;
}


/* TITLES */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-size: inherit;
}
.title-1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #232425;
    text-align: center;
}
.title-2 {
    font-weight: 400;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #a2a5a4;
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
}
.title-3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.7px;
    color: #818386;
    text-align: center;
}
.title-4 {
    font-family:'kirimomiswash', Arial, Helvetica, sans-serif;
    font-size: 251px;
    font-weight: normal;
    letter-spacing: 1.7px;
    color: #f3f3f3;
    font-style: italic;
    text-align: center;
}


/* HEADER */
#header {
    position: fixed;
    z-index: 2;
    left:0;
    right:0;
    top: 0;
}


/* TRIANGLES */
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    pointer-events: none;
    z-index: 2;
}
#triangle-blue {
    top: 156px;
    left: 550px;
    border-width: 0 91px 140px 91px;
    border-color: transparent transparent #b8ebef transparent;
    opacity: 0.4;
}
#triangle-pink {
    top: 0;
    left: 90px;
    border-width: 90px 58px 0 58px;
    border-color: #f9c5d8 transparent transparent transparent;
    opacity: 0.4;
}


/* LOGO BERENICEK */
#logo-berenicek {
    padding-top: 75px;
    visibility: hidden;
}
#logo-berenicek a {
    width: 277px;
    display: block;
    margin:0 auto 10px auto;
    padding-top: 10px;

}


/* MENU */
.menu,
#menu-container {
    padding-bottom: 20px;
}
#menu-container {
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
}
.menu.left {
    float: left;
}
.menu.right {
    float: right;
}
.menu .item {
    float: left;
    padding: 0 20px 0 0;
}
.menu.right .item {
    padding: 0 0 0 20px;
}
.menu .item a {
    background-color: #e6e6e6;
    color: #575a5d;
    min-width: 124px;
    font-size: 11px;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 9px 0;
    display: block;
    text-transform: uppercase;
    transition: background-color 150ms ease-in;
    position: relative;

}
.menu .item a:hover,
.menu .item.active a{
    background-color: #fff6b0;
    text-decoration: none;
}
.menu .item.active a:after{
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffffff transparent;
    margin-left:-8px;
}
.menu .item.active a{
    cursor: default;
}


/* PORTFOLIO */
#portfolio {
    padding-bottom: 18px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.project {
    background-color: #f7f7f7;
    padding-top: 45px;
    margin-bottom: 2px;
    overflow: hidden;
}
.project .pic {
    padding-bottom: 70px;
}
.project .pic img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 100%;
}


/* PROJECT 1 - BONNE BOX */
#project-1 {
    background: #2a2b2c; /* Old browsers */
    background: radial-gradient(ellipse at center,  #2a2b2c 0%,#2a2b2c 0%,#46494b 100%,#494c4e 100%); /* W3C */
}
#project-1 .title-1 {
    color: #CDCDCD;
}
#project-1 .title-2 {
    color: #a2a5a4;
}
#project-1 .pic {
    padding-bottom: 0;
}
#project-1 .pic img {
    box-shadow: 0 3px 9.2px 0.8px rgba(0, 0, 0, 0.4);
}


/* PROJECT 2 - NEW KIDS */
#project-2 {
    background-color: #ebebeb;
}


/* MINI FOLIOS */
.mini-folios-container {
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.mini-folio {
    float: left;
    width: 23.40%;/* 220px / 940px */
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    margin-right: 2.1333333333333333%;/* 20px / 940px */
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.mini-folio:nth-child(4) {
    margin-right: 0;
}
.mini-folio .pic {
    display: block;
    margin-bottom: 16px;
    overflow: hidden;
}
.mini-folio .pic img {
    display: block;
    width: auto;
    max-width: 100%;
    -webkit-transform: scale(1.05) rotate(0.1deg);
    transform: scale(1.05) rotate(0.1deg);
    transition: -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);/* ease out quart */
}
.mini-folio .pic:hover img {
    -webkit-transform: scale(1) rotate(0.1deg);
    transform: scale(1) rotate(0.1deg);
}
.mini-folio .title {
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 14px;
    color: #575a5d;
    padding-bottom: 10px;
}
.mini-folio .desc {
    line-height: 16px;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 11px;
    color: #a2a5a4;
    padding-bottom: 16px;
}
.mini-folio .more {
    background-color: #e6e6e6;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.mini-folio .more:after {
    content: "+";
    display: block;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #a2a5a4;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: -webkit-transform 200ms ease-in, color 200ms ease-in 100ms;
    transition: transform 200ms ease-in, color 200ms ease-in 100ms;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.mini-folio .more:hover:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #4b4d50;
}


/* BUTTON CONTACTEZ-MOI */
.bt-contact {
    text-align: center;
    padding-bottom: 58px;
}
.bt-contact a {
    background-color: #fff6b0;
    padding: 17px 30px 16px 30px;
    display: inline-block;
    color: #575a5d;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.bt-contact a:hover {
    text-decoration: none;
}
.bt-contact a .excla {
    display: inline-block;
    transition:-webkit-transform 300ms ease-in;
    transition:transform 300ms ease-in;
}
.bt-contact a:hover .excla {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}


/* PAGE PROJECT */
.page-project .intro .title-3 {
    padding-bottom: 45px;
}
.logo-project {
    display: block;
    margin: 0 auto;
}
.page-project .section {
    position: relative;
    background-color: gray;
}
.page-project .title-4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* FOOTER */
#footer {
    background: #e6e6e6;
    padding-top: 36px;
}
#footer .inside {
    background: url(../img/skin/penguins.png) 100% 36% no-repeat;
}
#footer .section .title {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4d50;
    padding-bottom: 29px;
}
#footer .section .list {
    padding-bottom: 23px;
}
#footer .section .item {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 11px;
    color: #a2a5a4;
    padding-bottom: 8px;
}
#footer .section .item a {
    color: #a2a5a4;
    transition: color 200ms ease-in-out;
}
#footer .section .item a:hover {
    color: #4b4d50;
    text-decoration: none;
}
#footer .column {
    float: left;
    width: 26.60%;/* 250px / 940px */
}
#footer .column-1 {
    width: 23.40%;/* 220px / 940px */
}

/* SECTION FOLLOW ME */
#ft-section-4 .item a {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(../img/skin/sprites-social.png);
    background-repeat: no-repeat;
}
/* PINTEREST */
#ft-section-4 .item-0 a {
    background-position: 0 0;
}
/* FACEBOOK */
#ft-section-4 .item-1 a {
    background-position: 0 -62px;
}


/* CREDITS */
#credits {
    clear: both;
    text-align: center;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #4b4d50;
    padding-top: 39px;
    padding-bottom: 14px;
}
#credits a {
    color: #4b4d50;
}



/* END */