// COLORS
$blue: #b8ebef;
$yellow: #fff6b0;
$pink: #f9c5d8;

$gray0: #fbfbfb;
$gray1: #f7f7f7;
$gray2: #f3f3f3;
$gray3: #ebebeb;
$gray4: #e6e6e6;
$gray5: #cdcdcd;
$gray6: #a2a5a4;
$gray7: #818386;
$gray8: #575a5d;
$gray9: #4b4d50;
$black: #232425;

/* FONT - KIRIMOMI SWASH */
/* http://neojaponisme.com/2011/06/27/catalog-heritage-the-kihachiro-typeface-family/ */
@include fontface(kirimomiswash);


/* STRUCTURE */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size:62.5%; /* :INFO:1em = 10px */
    height:100%;
    line-height: 20px;
    color: $gray8;
    background: #fff;
}
#content {
    font-size: 14px;
}
#page {
    padding-top: 270px; /* header height */
}
#ajax {
    position: relative;
    transform: translateY(0);
    transition: transform 0.25s;
    will-change:transform;

    &.moved {
        transform: translateY(-30px);
        transition: transform 0ms;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        z-index: 2; // not over the menu
        pointer-events: none;
        transition: background-color 400ms; // fade out
        will-change:background-color;
    }

    &.active:after {
        background-color: white;
        transition: background-color 300ms; // fade in
    }
}
.page-width {
    box-sizing: border-box;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}
.page-gutters{
    padding-left: 20px; /* 20px / 940px */
    padding-right: 20px;/* 20px / 940px */
}
.accessibility {
    position:absolute;
    left:-9999em;
}


/* LINKS */
a {
    color: $gray8;
    text-decoration: none;
    cursor:pointer;

    &:hover {
        text-decoration: underline;
    }
}


/* TITLES */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-size: inherit;
}
.title-1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: $black;
    text-align: center;
}
.title-2 {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: $gray6;
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
}
.title-3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.6px;
    color: $gray7;
    text-align: center;
}
.title-4 {
    font-family:'kirimomiswash', Arial, Helvetica, sans-serif;
    font-size: 251px;
    font-weight: normal;
    letter-spacing: -1px;
    color: $gray2;
    font-style: italic;
    text-align: center;
}
.title-5 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: $gray6;
    text-align: center;
}
.title-6 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: $gray6;
    text-align: center;
    position: relative;
    margin-top: 25px;
    padding-bottom: 5px;

    &:before {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -6px;
        top:-25px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: #fff6b0 transparent transparent transparent;
    }
}
.quote {
    font: 40px/47px 'kirimomiswash', Arial, Helvetica, sans-serif;
    position: relative;
    font-weight: normal;
    color: black;
    font-style: italic;
    text-align: center;
    padding-bottom: 37px;
    padding-top: 6px;

    &:before {
        content: "";
        pointer-events: none;
        height: 1px;
        left: 0;
        z-index: -1;
        right: 0;
        top: 40px;
        position: absolute;
        background: $gray4;
    }
    &.line-2:before {
        top: 87px;
    }

    &#edito-2 {
        margin-top: -47px;
    }
    &#edito-3 {
        margin-top: -20px;
        padding-bottom: 7px;
    }
}


/* HEADER */
#header {
    pointer-events: none;
    position: fixed;
    z-index: 10;
    left:0;
    right:0;
    top: 0;
}


/* HEADER - LOGO BERENICEK */
#logo-berenicek {
    padding-top: 75px;
    transition: padding 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
    will-change:padding;
    //visibility: hidden; // temp

    .active & {
        transition: padding 300ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
        padding-top: 25px;
    }

    a {
        pointer-events: auto;
        display: block;
        width: 277px;
        margin:0 auto 10px auto;
        padding-top: 10px;
    }
}


/* MENU */
.menu,
#menu-container {
    padding-bottom: 20px;
}
#menu-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 192px;
    padding-left: 20px;
    padding-right: 20px;
    transition: top 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */

    .active & {
        top: 122px;
        transition: top 300ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
    }
}
.menu {
    .item {
        float: left;
        padding: 0 20px 0 0;

        .text {
            position: relative;
            z-index: 2;
        }

        a {
            position: relative;
            pointer-events: auto;
            display: block;
            padding: 9px 0;
            min-width: 124px;
            background-color: $gray4;
            color: $gray8;
            letter-spacing: 1.5px;
            text-align: center;
            font-size: 11px;
            text-transform: uppercase;
            transition: background-color 300ms ease 0ms;
            will-change:background-color;
            overflow: hidden;
            text-decoration: none;

            &:before, &:after {
                position: absolute;
                top: -116px;
                content: "";
                width: 0;
                height: 0;
                z-index: 1;
                border-style: solid;
                transition: all 500ms;
                will-change:all;
            }

            &:after{
                left: -126px;
                border-width: 116px 116px 0 0;
                border-color: transparent;
            }

            &:before{
                right: -126px;
                border-width: 0 116px 116px 0;
                border-color: transparent;
            }
        }
        & a:hover,
        &.active a{
            transition: background-color 300ms ease 100ms;
            will-change:background-color;
            background-color: transparent;

            &:before, &:after {
                top: -24px;
                transition: all 300ms;
            }

            &:after{
                left: 0;
                border-color: $yellow transparent transparent transparent;
            }

            &:before{
                right: 0;
                border-color: transparent $yellow transparent transparent;
            }
        }
        &.active a{
            cursor: default;
        }
    }
    &.left {
        float: left;
    }
    &.right {
        float: right;

        .item {
            padding: 0 0 0 20px;
        }
    }
}


/* HEADER - TRIANGLES */
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    pointer-events: none;
    z-index: 2;
    opacity: 0.4;
}
#triangle-blue {
    top: 156px;
    left: 550px;
    border-width: 0 91px 140px 91px;
    border-color: transparent transparent $blue transparent;
    transition: top 200ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
    will-change:top;

    .active & {
        transition: top 300ms cubic-bezier(0.550, 0.085, 0.680, 0.530); /* easeInQuad */
        top: 84px;
    }
}
#triangle-pink {
    top: 0;
    left: 90px;
    border-width: 90px 58px 0 58px;
    border-color: $pink transparent transparent transparent;
}

/* PORTFOLIO */
#portfolio {
    margin-bottom: 20px;
}
.project {
    background-color: $gray1;
    padding-top: 45px;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
    display: block;

    &:after { // triangle
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-style: solid;
        transition: border-width 0.5s ease, opacity 0.3s ease, top 0.3s ease;
        will-change:border-width, opacity, top;
        border-width: 0 91px 140px 91px;
        border-color: transparent transparent $gray8 transparent;
        opacity: 0;
        z-index: 1;
    }

    .bt-contact {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%,-60%,0);
        z-index: 2;
        transition: opacity 0.2s ease, transform 0.2s ease;
        will-change:opacity, transform;
        opacity: 0;
    }

    .inner {
        transition: filter 300ms 100ms;
        will-change:filter;
    }

    &:hover {
        text-decoration: none;
        .inner {
            filter:blur(1px);
        }
        $triangle_delay : 200ms;
        &:after {
            top: 10%;
            opacity: 0.4;
            border-width: 0 1092px 1680px 1092px;
            transition: border-width 0.25s ease-in $triangle_delay, opacity 0.25s ease-in $triangle_delay, top 0.25s ease-in $triangle_delay;
        }
        .bt-contact {
            $button_delay: #{$triangle_delay + 200ms};
            opacity: 1;
            transform: translate3d(-50%,-50%,0);
            transition: opacity 0.4s ease $button_delay, transform 0.3s ease $button_delay;
        }
    }
    .pic {
        padding-bottom: 70px;

        img {
            display: block;
            margin: auto;
            width: auto;
            max-width: 100%;
        }
    }
}




/* PROJECT 1 - BONNE BOX */
#project-1 {
    background: #2a2b2c; /* Old browsers */
    background: radial-gradient(ellipse at center,  #2a2b2c 0%,#2a2b2c 0%,#46494b 100%,#494c4e 100%); /* W3C */
}
#project-1 .title-1 {
    color: $gray5;
}
#project-1 .title-2 {
    color: $gray6;
}
#project-1 .pic {
    padding-bottom: 0;

    img {
        box-shadow: 0 3px 9.2px 0.8px rgba(0, 0, 0, 0.4);
    }
}


/* PROJECT 2 - NEW KIDS */
#project-2 {
    background-color: $gray3;
}


/* MINI FOLIOS */
.mini-folios-container {
    overflow: hidden;
}
.mini-folio {
    float: left;
    width: 23.40%;/* 220px / 940px */
    border: 1px solid $gray4;
    box-sizing: border-box;
    margin-right: 2.1333333333333333%;/* 20px / 940px */
    padding: 10px;
    min-height: 233px;
    padding-bottom: 0;
    text-align: center;
    margin-bottom: 20px;
    position: relative;

    a:hover {
        text-decoration: none;
    }

    &:after {
        content: '';
        display: block;
        background: url(../img/skin/mini-folio-shadow.png) 0 0 no-repeat;
        width: 220px;
        height: 12px;
        position: absolute;
        bottom: -13px;
        left: -1px;
    }
    &:nth-child(4n) {
        margin-right: 0;
    }
    .pic {
        display: block;
        margin-bottom: 15px;
        overflow: hidden;

        & img {
            display: block;
            width: auto;
            max-width: 100%;
            //transform: scale(1.05) rotate(0.1deg);
            //transition: transform 300ms;
        }
    }

    &:hover .pic img {
        //transform: scale(1) rotate(0.1deg);
    }
    .title {
        letter-spacing: 1.2px;
        text-transform: uppercase;
        font-size: 14px;
        color: $gray8;
        padding-bottom: 1px;
    }
    .desc {
        font-weight: 400;
        line-height: 16px;
        font-family: Georgia, Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 11px;
        color: $gray6;
        padding-bottom: 16px;
    }
    /*
    .more {
        background-color: $gray4;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: auto;
        overflow: hidden;
        position: relative;

        &:after {
            content: "+";
            display: block;
            text-align: center;
            color: $gray6;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            line-height: 34px;
            font-size: 30px;
            transition: transform 200ms ease, color 200ms ease 100ms;
            transform-origin: 50% 50%;
        }
        &:hover:after {
            transform: rotate(90deg);
            color: $gray9;
        }
    }*/
}


/* BUTTON CONTACTEZ-MOI */
.bt-contact {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;

    .bt {
        background-color: $yellow;
        padding: 17px 30px 16px 30px;
        display: inline-block;
        color: $gray8;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
        }
        .excla {
            display: inline-block;
            transition:transform 300ms;
        }
        &:hover .excla {
            transform: rotate(360deg);
        }
    }
}



/* CHALLENGE */
.challenge {
    border-top:1px solid $gray4;
    border-bottom:1px solid $gray4;
    line-height: 24px;
    padding-top: 13px;
    margin-bottom: 20px;

    .title {
        color: $gray6;
        padding-bottom: 9px;

        strong {
            font-weight: 700;
        }
    }

    .text {
        color: $gray8;
        padding-bottom: 33px;
    }
}


/* PAGE PROJECT */
.page-project {
    .intro {
        .title {
            padding-bottom: 45px;
        }
        &.border {
            border-bottom: 1px solid $gray4;
            margin-bottom: 14px;

            .title {
                padding-bottom: 35px;
            }
        }
    }

    .logo {
        display: block;
        margin: 0 auto 80px auto;
    }

    .section {
        margin-bottom: 20px;
        border-bottom: 1px solid $gray4;
        padding-bottom: 20px;

        .inner {
            padding-top: 40px;
            overflow: hidden;
            position: relative;
            background-color: white; // default

            &.no-padding-top {
                padding-top: 0;
            }

            &.bg-dark { // check browser compatibility
                background-color: $gray2;

                & .keyword {
                    color: $gray0;
                }
            }
        }

        .keyword {
            position: absolute;
            z-index: 0;
            top: -20px;
            left: -100%;
            text-align: center;
            right: -100%;
            white-space: nowrap;
            line-height: 100%;
        }

        .description {
            padding-top: 107px;
            position: relative;
            z-index: 2;
        }

        img {
            display: block;
            position: relative;
            z-index: 1;
            margin: 0 auto 20px auto;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    /* special case for 4 images */
    .newsletters {
        text-align: center;
        padding-bottom: 40px;

        .col-1 {
            vertical-align: top;
            display: inline-block;
            padding-right: 17px;
        }
        .col-2 {
            vertical-align: top;
            display: inline-block;
        }
    }
}


/* MES Dï¿½MARCHES */
.process {
    color: $gray6;
    text-align: center;
    border-bottom: 1px solid $gray4;
    margin-bottom: 20px;

    .title {
        color: $gray6;
        padding-bottom: 15px;
    }

    ol {
        font-family: Georgia, Arial, Helvetica, sans-serif;
        font-style: italic;
        counter-reset: section;
        list-style: none;
        overflow: hidden;
        display: table;
        width: 100%;
        padding-bottom: 20px;
        font-weight: 400;

        li {
            padding: 80px 0 15px 0;
            font-size: 11px;
            display: inline-table;
            width: 33%;
            position: relative;
            line-height: 15px;

            &:before {
                position: absolute;
                top: 20px;
                left: 50%;
                margin-left: -20px;
                line-height: 37px;
                font-size: 18px;
                text-align: center;
                width: 40px;
                height: 40px;
                background: $yellow;
                border-radius: 50px;
                counter-increment: section;
                content: counter(section);
            }
        }
    }
}

/* CV */
.cv {
    padding-bottom: 120px;
    a {
        position: relative;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
        &:after {
            content:"";
            position: absolute;
            left: 50%;
            margin-left: -20px;
            bottom: -50px;
            width: 40px;
            height: 40px;
            display: block;
            background: url(../img/skin/sprites-social.png) 0 -248px no-repeat;
        }
    }
}

/* CONTACT */
.page-contact {
    .photo {
        padding-bottom: 30px;

        img {
            display: block;
            margin: 0 auto;
        }
    }
    .intro {
        padding-bottom: 35px;
    }
    .title-social {
        border-top:1px solid $gray4;
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .list-social {
        text-align: center;
        padding-bottom: 75px;
    }
    .social {
        margin: 0 8px;
        display: inline-block;
    }
}


/* FOOTER */
#footer {
    background: $gray4;
    padding-top: 36px;
    
    .inside {
        background: url(../img/skin/penguins.png) 100% 36% no-repeat;
    }
    .section {
        .title {
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            color: $gray9;
            padding-bottom: 29px;
        }
        &#ft-section-4 .title {
            padding-bottom: 9px;
        }
        .list {
            padding-bottom: 23px;
        }
        .item {
            font-weight: 400;
            font-family: Georgia, Arial, Helvetica, sans-serif;
            font-style: italic;
            text-align: center;
            font-size: 11px;
            color: $gray6;
            padding-bottom: 8px;

            a {
                color: $gray6;
                transition: color 200ms ease-in-out;

                &:hover {
                    color: $gray9;
                    text-decoration: none;
                }
            }
        }
    }
    
    .column {
        float: left;
        width: 26.60%;/* 250px / 940px */
    }
    .column-1 {
        width: 23.40%;/* 220px / 940px */
    }
}

/* SOCIAL */
.social {
    a {
        display: block;
        width: 62px;
        height: 62px;
        margin: 0 auto;
        overflow: hidden;
        text-indent: -9999px;
        background: url(../img/skin/sprites-social.png) 0 0 no-repeat;
    }
    &.linkedin a {
        background-position: 0 -124px;
    }
    &.pinterest a {
        background-position: 0 0;
    }
    &.facebook a {
        background-position: 0 -62px;
    }
    &.instagram a {
        background-position: 0 -186px;
    }
}


/* CREDITS */
#credits {
    clear: both;
    font-weight: 400;
    text-align: center;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: $gray9;
    padding-top: 39px;
    padding-bottom: 14px;

    a {
        color: $gray9;
    }
}




/* END */