/*------------------------------------------------------------------------------
    project:    berenicek.com (version 2015)
    created:    2015
    author:     Florian Boudot
----------------------------------------------------------------------------- */


// COLORS
$blue: #b8ebef;
$yellow: #fff6b0;
$pink: #f9c5d8;

$gray0: #fbfbfb;
$gray1: #f7f7f7;
$gray2: #f3f3f3;
$gray3: #ebebeb;
$gray4: #e6e6e6;
$gray5: #cdcdcd;
$gray6: #a2a5a4;
$gray7: #818386;
$gray8: #575a5d;
$gray9: #4b4d50;
$black: #232425;

/* FONT - KIRIMOMI SWASH */
/* http://neojaponisme.com/2011/06/27/catalog-heritage-the-kihachiro-typeface-family/ */
@include fontface(kirimomiswash);


/* STRUCTURE */
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size:62.5%; /* :INFO:1em = 10px */
    height:100%;
    line-height: 20px;
    color: $gray8;
    background: #fff;
}
#content {
    font-size: 14px;
}
#page {
    padding-top: 270px; /* header height */
}
.page-width {
    box-sizing: border-box;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
}
.page-gutters{
    padding-left: 20px; /* 20px / 940px */
    padding-right: 20px;/* 20px / 940px */
}
.accessibility {
    position:absolute;
    left:-9999em;
}


/* LINKS */
a {
    color: $gray8;
    text-decoration: none;
    cursor:pointer;

    &:hover {
        text-decoration: underline;
    }
}


/* TITLES */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-size: inherit;
}
.title-1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: $black;
    text-align: center;
}
.title-2 {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: $gray6;
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
}
.title-3 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.7px;
    color: $gray7;
    text-align: center;
}
.title-4 {
    font-family:'kirimomiswash', Arial, Helvetica, sans-serif;
    font-size: 251px;
    font-weight: normal;
    letter-spacing: -1px;
    color: $gray2;
    font-style: italic;
    text-align: center;
}


/* HEADER */
#header {
    position: fixed;
    z-index: 10;
    left:0;
    right:0;
    top: 0;
}


/* HEADER - TRIANGLES */
.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    pointer-events: none;
    z-index: 2;
    opacity: 0.4;
}
#triangle-blue {
    top: 156px;
    left: 550px;
    border-width: 0 91px 140px 91px;
    border-color: transparent transparent $blue transparent;
}
#triangle-pink {
    top: 0;
    left: 90px;
    border-width: 90px 58px 0 58px;
    border-color: $pink transparent transparent transparent;
}


/* HEADER - LOGO BERENICEK */
#logo-berenicek {
    padding-top: 75px;
    //visibility: hidden; // temp

    a {
        display: block;
        width: 277px;
        margin:0 auto 10px auto;
        padding-top: 10px;
    }
}


/* MENU */
.menu,
#menu-container {
    padding-bottom: 20px;
}
#menu-container {
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 20px;
}
.menu {
    .item {
        float: left;
        padding: 0 20px 0 0;
        a {
            position: relative;
            display: block;
            padding: 9px 0;
            min-width: 124px;
            background-color: $gray4;
            color: $gray8;
            letter-spacing: 1.5px;
            text-align: center;
            font-size: 11px;
            text-transform: uppercase;
            transition: background-color 150ms ease-in;
        }
        & a:hover,
        &.active a{
            background-color: $yellow;
            text-decoration: none;
        }
        &.active a{
            cursor: default;

            &:after{
                position: absolute;
                bottom: 0;
                left: 50%;
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 8px 8px 8px;
                border-color: transparent transparent #ffffff transparent;
                margin-left:-8px;
            }
        }
    }
    &.left {
        float: left;
    }
    &.right {
        float: right;

        .item {
            padding: 0 0 0 20px;
        }
    }
}


/* PORTFOLIO */
#portfolio {
    padding-bottom: 18px;
    border-bottom: 1px solid $gray4;
    margin-bottom: 20px;
}
.project {
    background-color: $gray1;
    padding-top: 45px;
    margin-bottom: 2px;
    overflow: hidden;
}
.project .pic {
    padding-bottom: 70px;

    img {
        display: block;
        margin: auto;
        width: auto;
        max-width: 100%;
    }
}



/* PROJECT 1 - BONNE BOX */
#project-1 {
    background: #2a2b2c; /* Old browsers */
    background: radial-gradient(ellipse at center,  #2a2b2c 0%,#2a2b2c 0%,#46494b 100%,#494c4e 100%); /* W3C */
}
#project-1 .title-1 {
    color: $gray5;
}
#project-1 .title-2 {
    color: $gray6;
}
#project-1 .pic {
    padding-bottom: 0;

    img {
        box-shadow: 0 3px 9.2px 0.8px rgba(0, 0, 0, 0.4);
    }
}


/* PROJECT 2 - NEW KIDS */
#project-2 {
    background-color: $gray3;
}


/* MINI FOLIOS */
.mini-folios-container {
    overflow: hidden;
    border-bottom: 1px solid $gray4;
    margin-bottom: 20px;
}
.mini-folio {
    float: left;
    width: 23.40%;/* 220px / 940px */
    border: 1px solid $gray4;
    box-sizing: border-box;
    margin-right: 2.1333333333333333%;/* 20px / 940px */
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;

    &:nth-child(4) {
        margin-right: 0;
    }
    .pic {
        display: block;
        margin-bottom: 16px;
        overflow: hidden;

        & img {
            display: block;
            width: auto;
            max-width: 100%;
            -webkit-transform: scale(1.05) rotate(0.1deg);
            transform: scale(1.05) rotate(0.1deg);
            transition: -webkit-transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
            transition: transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);/* ease out quart */
        }
        &:hover img {
            -webkit-transform: scale(1) rotate(0.1deg);
            transform: scale(1) rotate(0.1deg);
        }
    }
    .title {
        letter-spacing: 1.2px;
        text-transform: uppercase;
        font-size: 14px;
        color: $gray8;
        padding-bottom: 10px;
    }
    .desc {
        line-height: 16px;
        font-family: Georgia, Arial, Helvetica, sans-serif;
        font-style: italic;
        font-size: 11px;
        color: $gray6;
        padding-bottom: 16px;
    }
    .more {
        background-color: $gray4;
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: auto;
        overflow: hidden;
        position: relative;

        &:after {
            content: "+";
            display: block;
            text-align: center;
            color: $gray6;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            line-height: 34px;
            font-size: 30px;
            transition: -webkit-transform 200ms ease-in, color 200ms ease-in 100ms;
            transition: transform 200ms ease-in, color 200ms ease-in 100ms;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
        }
        &:hover:after {
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            color: $gray9;
        }
    }
}


/* BUTTON CONTACTEZ-MOI */
.bt-contact {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 80px;

    a {
        background-color: $yellow;
        padding: 17px 30px 16px 30px;
        display: inline-block;
        color: $gray8;
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 2px;
        text-transform: uppercase;

        &:hover {
            text-decoration: none;
        }
        .excla {
            display: inline-block;
            transition:-webkit-transform 300ms ease-in;
            transition:transform 300ms ease-in;
        }
        &:hover .excla {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }
}



/* PAGE PROJECT */
.page-project {
    .intro .title {
        padding-bottom: 45px;
    }

    .logo {
        display: block;
        margin: 0 auto 80px auto;
    }

    .challenge {
        border-top:1px solid $gray4;
        border-bottom:1px solid $gray4;
        line-height: 24px;
        padding-top: 13px;

        .title {
            color: $gray6;
            padding-bottom: 9px;

            strong {
                font-weight: normal;
            }
        }

        .text {
            color: $gray8;
            padding-bottom: 33px;
        }
    }

    .section {
        margin-bottom: 20px;
        border-bottom: 1px solid $gray4;
        padding-bottom: 20px;

        .inner {
            padding-top: 40px;
            overflow: hidden;
            position: relative;
            background-color: white; // default

            &.no-top-padding {
                padding-top: 0;
            }

            &.bg-dark { // check browser compatibility
                background-color: $gray2;

                & .keyword {
                    color: $gray0;
                }
            }
        }

        .keyword {
            position: absolute;
            z-index: 0;
            top: -20px;
            left: -100%;
            text-align: center;
            right: -100%;
            white-space: nowrap;
            line-height: 100%;
        }

        .description {
            padding-top: 107px;
            position: relative;
            z-index: 2;
        }

        img {
            display: block;
            position: relative;
            z-index: 1;
            margin: 0 auto 20px auto;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
/* MES DÉMARCHES */
.process {
    color: $gray6;
    text-align: center;
    border-bottom: 1px solid $gray4;
    margin-bottom: 20px;

    .title {
        color: $gray6;
        padding-bottom: 15px;
    }

    ol {
        font-family: Georgia, Arial, Helvetica, sans-serif;
        font-style: italic;
        counter-reset: section;
        list-style: none;
        overflow: hidden;
        display: table;
        padding-bottom: 20px;

        li {
            padding: 80px 0 15px 0;
            font-size: 11px;
            display: inline-table;
            width: 33%;
            position: relative;
            line-height: 15px;

            &:before {
                position: absolute;
                top: 20px;
                left: 50%;
                margin-left: -20px;
                line-height: 37px;
                font-size: 18px;
                text-align: center;
                width: 40px;
                height: 40px;
                background: $yellow;
                border-radius: 50px;
                counter-increment: section;
                content: counter(section);
            }
        }
    }
}




/* FOOTER */
#footer {
    background: $gray4;
    padding-top: 36px;
    
    .inside {
        background: url(../img/skin/penguins.png) 100% 36% no-repeat;
    }
    .section {
        .title {
            text-align: center;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            color: $gray9;
            padding-bottom: 29px;
        }
        .list {
            padding-bottom: 23px;
        }
        .item {
            font-family: Georgia, Arial, Helvetica, sans-serif;
            font-style: italic;
            text-align: center;
            font-size: 11px;
            color: $gray6;
            padding-bottom: 8px;

            a {
                color: $gray6;
                transition: color 200ms ease-in-out;

                &:hover {
                    color: $gray9;
                    text-decoration: none;
                }
            }
        }
    }
    
    .column {
        float: left;
        width: 26.60%;/* 250px / 940px */
    }
    .column-1 {
        width: 23.40%;/* 220px / 940px */
    }
}


/* SECTION FOLLOW ME */
#ft-section-4 {
    .item a {
        display: block;
        width: 62px;
        height: 62px;
        margin: 0 auto;
        overflow: hidden;
        text-indent: -9999px;
        background-image: url(../img/skin/sprites-social.png);
        background-repeat: no-repeat;
    }

    /* PINTEREST */
    .item-0 a {
        background-position: 0 0;
    }
    /* FACEBOOK */
    .item-1 a {
        background-position: 0 -62px;
    }
}


/* CREDITS */
#credits {
    clear: both;
    text-align: center;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: $gray9;
    padding-top: 39px;
    padding-bottom: 14px;

    a {
        color: $gray9;
    }
}


/* END */