/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    project name
    created:    2012-01-04
    author:     johdoe
                
----------------------------------------------------------------------------- */


/*  =FRAMEWORK CSS (OOCSS and more...)
----------------------------------------------------------------------------- */
@import "fw.css";


/*  =PRINT
----------------------------------------------------------------------------- */
@media print {
    
}


/* RESET */
* {
    margin:0;
    padding:0;
    vertical-align:baseline;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size:62.5%; /* :INFO:1em = 10px */
    height:100%;
    line-height: 20px;
    color:#575a5d;
    background:#fff;
}
input { height:auto; }
a img, fieldset, form { border:0; }
ins, abbr, acronym { text-decoration:none; border:0; font-style:normal; }
a:hover ins, a:hover abbr, a:hover acronym { text-decoration:underline; }
address { font-style:normal; }
ul { list-style:none; }
q:before, q:after { content:''; }
small { font-size:0.9em; }
input, select, textarea, button { font:1em Arial, Verdana, Helvetica, sans-serif; }
input, textarea, select {/*not working with selects on IE6 IE7*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea { overflow:auto; }

sup { vertical-align:text-top; }

hr,
.accessibility { 
    position:absolute;
    left:-9999em;
}

button {
    width:auto;
    overflow:visible;
    border:0;
    background:none;
    cursor:pointer;
}
button::-moz-focus-inner { /*firefox extra padding removed*/
    border: 0;
    padding: 0;
}
input.submit {
    width:auto !important;
    height:auto !important;
    cursor:pointer !important;
    border:0 !important;
    overflow:visible;
}


/* STRUCTURE */
#content {
    font-size: 14px;
}
#page {

}
.page-width {
    box-sizing: border-box;
    max-width: 940px;
    margin: 0 auto;
}
.page-gutters{
    padding-left: 20px; /* 20px / 940px */
    padding-right: 20px;/* 20px / 940px */
}

/* LINKS */
a {
    color:#575a5d;
    text-decoration: none;
    cursor:pointer;
}
a:hover {
    text-decoration: underline;
}

/* TITLES */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-size: inherit;
}


/* HEADER */
#header {
    padding-top: 75px;
}

/* LOGO BERENICEK */
#logo-berenicek img {
    display: block;
    padding:10px 0 38px 0;
    margin: auto;
}
#logo-berenicek.scroll-to-fixed-fixed {

}


/* MENU */
.menu,
#menu-container {

    padding-bottom: 20px;
}
#menu-container {
    padding-top: 23px;
}
.menu.left {
    float: left;
}
.menu.right {
    float: right;
}
.menu .item {
    float: left;
    padding: 0 20px 0 0;
}
.menu.right .item {
    padding: 0 0 0 20px;
}
#menu-container.scroll-to-fixed-fixed  {
    background-color: #ffffff;
    /*box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.3);*/
}
.menu .item a {
    background-color: #e6e6e6;
    color: #575a5d;
    min-width: 124px;
    font-size: 11px;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 9px 0;
    display: block;
    text-transform: uppercase;
    transition: background-color 150ms ease-in;
}
.menu .item a:hover {
    background-color: #fff6b0;
    text-decoration: none;
}


/* PROJECTS */
#projects-container {
    padding-bottom: 18px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.project {
    background-color: #f7f7f7;
    padding-top: 45px;
    margin-bottom: 2px;
    overflow: hidden;
}
.project .title-1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #232425;
    text-align: center;
}
.project .title-2 {
    font-weight: 400;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #a2a5a4;
    font-style: italic;
    text-align: center;
    padding-bottom: 30px;
}
.project .pic {
    padding-bottom: 70px;
}
.project .pic img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 100%;
}


/* PROJECT - BONNE BOX */
#project-1 {
    background: #2a2b2c; /* Old browsers */
    background: radial-gradient(ellipse at center,  #2a2b2c 0%,#2a2b2c 0%,#46494b 100%,#494c4e 100%); /* W3C */

}
#project-1 .title-1 {
    color: #CDCDCD;
}
#project-1 .title-2 {
    color: #a2a5a4;
}
#project-1 .pic {
    padding-bottom: 0;
}
#project-1 .pic img {
    box-shadow: 0px 3px 9.2px 0.8px rgba(0, 0, 0, 0.4);
}


/* MINI FOLIOS */
.mini-folios-container {
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 20px;
}
.mini-folio {
    float: left;
    width: 23.40%;/* 220px / 940px */
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    margin-right: 2.1333333333333333%;/* 20px / 940px */
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
.mini-folio:nth-child(4) {
    margin-right: 0;
}
.mini-folio .pic {
    display: block;
    margin-bottom: 16px;
    overflow: hidden;
}
.mini-folio .pic img {
    display: block;
    width: auto;
    max-width: 100%;
    transition: transform 400ms ease-in;
}
.mini-folio .pic:hover img {
    transform: scale(1.05);
}
.mini-folio .title {
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-size: 14px;
    color: #575a5d;
    padding-bottom: 10px;
}
.mini-folio .desc {
    line-height: 16px;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 11px;
    color: #a2a5a4;
    padding-bottom: 16px;
}
.mini-folio .more {
    background-color: #e6e6e6;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.mini-folio .more:after {
    content: "+";
    display: block;
    font-size: 30px;
    line-height: 33px;
    color: #a2a5a4;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: transform 200ms ease-in, color 200ms ease-in 100ms;
}
.mini-folio .more:hover:after {
    transform: rotate(90deg);
    color: #4b4d50;
}


/* BUTTON CONTACTEZ-MOI */
.bt-contact {
    text-align: center;
    padding-bottom: 58px;
}
.bt-contact a {
    background-color: #fff6b0;
    padding: 17px 30px 16px 30px;
    display: inline-block;
    color: #575a5d;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*transition:background-color 150ms ease-in, color 150ms ease-in;*/
}
.bt-contact a:hover {
    text-decoration: none;
    /*background-color: lightpink;
    color: #ffffff;*/
}
.bt-contact a .excla {
    transition:transform 300ms ease-in;
}
.bt-contact a:hover .excla {
    transform: rotate(360deg);
}


/* FOOTER */
#footer {
    background: #e6e6e6;
    padding-top: 36px;
}
#footer .inside {
    background: url(../img/skin/penguins.png) 100% 36% no-repeat;
}
#footer .section .title {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4d50;
    padding-bottom: 29px;
}
#footer .section .list {
    padding-bottom: 23px;
}
#footer .section .item {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 11px;
    color: #a2a5a4;
    padding-bottom: 8px;
}
#footer .section .item a {
    color: #a2a5a4;
    transition: color 200ms ease-in-out;
}
#footer .section .item a:hover {
    color: #4b4d50;
    text-decoration: none;
}
#footer .column {
    float: left;
    width: 26.60%;/* 250px / 940px */
}
#footer .column-1 {
    width: 23.40%;/* 220px / 940px */
}

/* SECTION FOLLOW ME */
#ft-section-4 .item a {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(../img/skin/sprites-social.png);
    background-repeat: no-repeat;
}
/* PINTEREST */
#ft-section-4 .item-0 a {
    background-position: 0 0;
}
/* FACEBOOK */
#ft-section-4 .item-1 a {
    background-position: 0 -62px;
}


/* CREDITS */
#credits {
    clear: both;
    text-align: center;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #4b4d50;
    padding-top: 39px;
    padding-bottom: 14px;
}
#credits a {
    color: #4b4d50;
}



/* END */
