/*------------------------------------------------------------------------------
    CSS Document (http://www.w3.org/Style/CSS/)

    project:    project name
    created:    2012-01-04
    author:     johdoe
                
----------------------------------------------------------------------------- */


/*  =FRAMEWORK CSS (OOCSS and more...)
----------------------------------------------------------------------------- */
@import "fw.css";


/*  =PRINT
----------------------------------------------------------------------------- */
@media print {
    
}


/* RESET */
* {
    margin:0;
    padding:0;
    vertical-align:baseline;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size:62.5%; /* :INFO:1em = 10px */
    height:100%;
    line-height: 20px;
    color:#575a5d;
    background:#fff;
}
input { height:auto; }
a img, fieldset, form { border:0; }
ins, abbr, acronym { text-decoration:none; border:0; font-style:normal; }
a:hover ins, a:hover abbr, a:hover acronym { text-decoration:underline; }
address { font-style:normal; }
ul { list-style:none; }
q:before, q:after { content:''; }
small { font-size:0.9em; }
input, select, textarea, button { font:1em Arial, Verdana, Helvetica, sans-serif; }
input, textarea, select {/*not working with selects on IE6 IE7*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea { overflow:auto; }

sup { vertical-align:text-top; }

hr,
.accessibility { 
    position:absolute;
    left:-9999em;
}

button {
    width:auto;
    overflow:visible;
    border:0;
    background:none;
    cursor:pointer;
}
button::-moz-focus-inner { /*firefox extra padding removed*/
    border: 0;
    padding: 0;
}
input.submit {
    width:auto !important;
    height:auto !important;
    cursor:pointer !important;
    border:0 !important;
    overflow:visible;
}


/* STRUCTURE */
#content {
    font-size: 14px;
}
#page {

}
.page-width {
    box-sizing: border-box;
    max-width: 940px;
    margin: 0 auto;
}
.page-gutters{
    padding-left: 20px; /* 20px / 940px */
    padding-right: 20px;/* 20px / 940px */
}

/* LINKS */
a {
    color:#575a5d;
    text-decoration: none;
    cursor:pointer;
}
a:hover {
    text-decoration: underline;
}

/* TITLES */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    font-size: inherit;
}
.title-1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.4px;
    color: #575a5d;
    text-align: center;
}
.title-2 {
    font-weight: 400;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #a2a5a4;
    font-style: italic;
    text-align: center;
}


/* FOOTER */
#footer {
    background: #e6e6e6;
    padding-top: 36px;
}
#footer .inside {
    background: url(../img/skin/penguins.png) 100% 36% no-repeat;
}
#footer .section .title {
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #4b4d50;
    padding-bottom: 29px;
}
#footer .section .list {
    padding-bottom: 23px;
}
#footer .section .item {
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    font-size: 11px;
    color: #a2a5a4;
    padding-bottom: 8px;
}
#footer .section .item a {
    color: #a2a5a4;
}
#footer .column {
    float: left;
    width: 26.60%;/* 250px / 940px */
}
#footer .column-1 {
    width: 23.40%;/* 220px / 940px */
}

/* SECTION FOLLOW ME */
#ft-section-4 .item a {
    display: block;
    width: 62px;
    height: 62px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(../img/skin/sprites-social.png);
    background-repeat: no-repeat;
}
/* PINTEREST */
#ft-section-4 .item-0 a {
    background-position: 0 0;
}
/* FACEBOOK */
#ft-section-4 .item-1 a {
    background-position: 0 -62px;
}


/* CREDITS */
#credits {
    clear: both;
    text-align: center;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    color: #4b4d50;
    padding-top: 39px;
    padding-bottom: 14px;
}
#credits a {
    color: #4b4d50;
}



/* END */
